body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
	font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}
a:hover {
	color: #0400ff;
	text-decoration: underline;
}

.mutating {
  background-color: #d2e9f9 !important;
}
